<% content_for :head do %>
  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
      $('.dropdown').on('shown.bs.dropdown', function() {
        $('#login-email').focus()
      })
    })
  </script>
<% end %>

<%= form_for(resource, as: resource_name,
             url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label       :email, class: 'sr-only' %>
    <%= f.email_field :email, class: 'form-control',
                      placeholder: 'Email', id: 'login-email' %>
  </div>

  <div class="form-group">
    <%= f.label          :password, class: 'sr-only' %>
    <%= f.password_field :password, class: 'form-control',
                         placeholder: 'Password',
                         autocomplete: "off" %>
  </div>

  <%= f.submit "Log in", class: 'btn btn-block btn-primary' %>
<% end %>
