<script type="text/javascript">
$(document).ready(function() {
  $('.dropdown').on('shown.bs.dropdown', function() {
    $('#flash_card_question').focus()
  })
})
</script>

<h1>Flash Cards
  <div class="dropdown pull-right">
    <button class="btn btn-lg btn-success dropdown-toggle"
            data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus"></span>
      Add card
    </button>
    <div class="dropdown-menu dropdown-form">
      <%= form_for :flash_card do |f| %>
        <div class="form-group">
          <%= f.label      :question, class: 'sr-only' %>
          <%= f.text_field :question, placeholder: 'Question' %>
        </div>
        <div class="form-group">
          <%= f.label      :answer, class: 'sr-only' %>
          <%= f.text_field :answer, placeholder: 'Answer' %>
        </div>
        <%= f.submit 'Save', class: 'btn btn-block btn-primary' %>
      <% end %>
    </div>
  </div>
</h1>

<div ng-app="flashCards" ng-controller="flashCardController">
  <h2 ng-show="cards.length === 0">No cards available</h2>

  <h2 ng-show="doneReview">
    Congratulations! You don't have any more cards to study today.
  </h2>

  <div ng-show="cards.length > 0">
    <button ng-hide="beganReview" ng-click="beginReview()"
            class="btn btn-lg btn-primary">
      Start
    </button>

    <div ng-repeat="card in cards"
         ng-show="currentIndex === $index && beganReview && ! doneReview">
      <h2>{{card.question}} <small>{{secondsLeft}}</small></h2>
      <input ng-model="guess"
             ng-change="checkAnswer(guess, card.answer)" />
    </div>
  </div>
</div>
