<h1>Flash Cards
  <div class="dropdown pull-right">
    <button class="btn btn-lg btn-success dropdown-toggle"
            data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus"></span>
      Add card
    </button>
    <div class="dropdown-menu">
      <%= form_for :flash_card do |f| %>
        <p>
          <%= f.label      :question %><br />
          <%= f.text_field :question %>
        </p>
        <p>
          <%= f.label      :answer %><br />
          <%= f.text_field :answer %>
        </p>
        <p><%= f.submit %></p>
      <% end %>
    </div>
  </div>
</h1>

<% if @flash_cards.empty? %>
  <h2>No cards available</h2>
<% end %>

<ul class="list-group">
  <% @flash_cards.each do |card| %>
    <li class="list-group-item">
      <span class="h1"><%= card.question %> -- <%= card.answer %></span>
      <span class="pull-right">
	Next review: <%= card.next_review_date %>
      </span>
    </li>
  <% end %>
</ul>
