<!DOCTYPE html>
<html>
  <head>
    <title>FlashCards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body class="container">

    <% flash.each do |type, message| %>
      <% if type == 'notice' %>
        <div class="alert alert-info"><%= message %></div>
      <% elsif type == 'alert' %>
          <div class="alert alert-danger"><%= message %></div>
      <% end %>
    <% end %>

    <h1>Flash Cards
      <div id="controls" class="pull-right">
        <%= yield :controls %>
      </div>
    </h1>

    <%= yield %>

  </body>
</html>
