<!DOCTYPE html>
<html>
  <head>
    <title>FlashCards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% flash.each do |type, message| %>
    <% if type == 'notice' %>
      <div class="alert alert-info"><%= message %></div>
    <% elsif type == 'alert' %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  <% end %>

  <body class="container">
    <%= yield %>
  </body>
</html>
